
<%= render "shared/jumbotron", header: "Barangay Huyon-Huyon Database Management System", tag_line: "Huyon-huyon, Tigaon, Camarines Sur" %>


<div class="row text-center">
	<div class="col-lg-2">
		
	<%= render "shared/card", image: "folder.png", title: "Records", body: "View Barangay Records", btn_text: "Open Records", link_text: "/records" %>

</div>

	</div>

	<div class="col-lg-2">
	<%= render "shared/card", image: "incidents.png", title: "Incident Reports", body: "View barangay Incident Reports", btn_text: "Open Incident Reports", link_text: "/incidents" %>
	</div>
	</div>

<div class="col-lg-2">
	<%= render "shared/card", image: "health.png", title: "Health Records", body: "View health and medical records", btn_text: "Open Health Records", link_text:  "/health_records" %>
	</div>
	</div>

<div class="col-lg-2">
	<%= render "shared/card", image: "register.png", title: "Add Administrator", body: "Add a user profile", btn_text: "Add Admin", link_text: "/users/new" %>
	</div>
	</div>

<div class="col-lg-2">
	<%= render "shared/card", image: "manage.png", title: "Manage User Profiles", body: "Manage logins", btn_text: "Manage Profiles", link_text: "/users/" %>
	</div>
	</div>


	


	
	</div>

	<div class="col-lg-4">
	
</div>
	</div>
</div>














