<p id="notice"><%= notice %></p>

<h1>Health Records</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Diagnosis</th>
      <th>Recorded by</th>
      <th>History</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_records.each do |health_record| %>
      <tr>
        <td><%= health_record.name %></td>
        <td><%= health_record.birthday %></td>
        <td><%= health_record.diagnosis %></td>
        <td><%= health_record.recorded_by %></td>
        <td><%= health_record.history %></td>
        <td><%= link_to 'Show', health_record %></td>
        <td><%= link_to 'Edit', edit_health_record_path(health_record) %></td>
        <td><%= link_to 'Destroy', health_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health Record', new_health_record_path %>
